<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.praktikum">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Admin.AdminListAdminActivity" />
        <activity android:name=".Admin.AdminDetailListusrActivity" />
        <activity android:name=".Admin.AdminListUserActivity" />
        <activity android:name=".Admin.AdminDetailRegsmskActivity" android:noHistory="true"/>
        <activity android:name=".Admin.AdminRegismskActivity" android:noHistory="true"/>
        <activity android:name=".Admin.AdminHomeActivity" />
        <activity android:name=".Admin.AdminDetailRwtActivity" />
        <activity android:name=".Admin.AdminRiwayatActivity" />
        <activity android:name=".Admin.AdminProfileActivity" />
        <activity android:name=".Admin.AdminDetailListadmActivity" />


        <activity android:name=".Pasien.DetailRiwayatDiresponActivity"></activity>
        <activity android:name=".Pasien.RiwayatDiresponActivity" android:noHistory="true"/>
        <activity android:name=".Pasien.EditRegistrasiaActivity" />
        <activity android:name=".Pasien.DetailRiwayatrgsActivity" />
        <activity android:name=".Pasien.RiwayatPendingActivity" android:noHistory="true"/>
        <activity android:name=".Pasien.RegistsakitActivity" />
        <activity android:name=".Pasien.EditpassActivity" />
        <activity android:name=".Pasien.EditprofileActivity" />
        <activity android:name=".Any.AuthActivity" />
        <activity android:name=".Pasien.RegisterActivity" />
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".ProfileActivity"
            android:label="@string/title_activity_profile"/>
        <activity android:name=".Pasien.RiwayatActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".Any.FirebaseMessageReceiver">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>